modules = ["python-3.11", "postgresql-16"]

[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38795
externalPort = 3001

[[ports]]
localPort = 39795
externalPort = 4200

[[ports]]
localPort = 42739
externalPort = 3002

[[ports]]
localPort = 43385
externalPort = 3000

[[ports]]
localPort = 46227
externalPort = 3003
